#A1 {
background-color: rgb(255, 1, 1);
}
#A2 {
background-color: rgba(0, 0, 0, 0.226);
}
#A3 {
background-color: rgb(218, 233, 10);
}
#A4 {
background-color: rgb(233, 13, 203);
}
#A5 {
background-color: rgb(156, 28, 28);
}
